.contacts {
  background-image: linear-gradient(
    180deg,
    var(--white-background-color) 300px,
    var(--milk-background-color) 0
  );
  background-color: var(--milk-background-color);
  font-weight: 500;
  font-size: 12px;
  @include tablet {
    background-image: linear-gradient(
      180deg,
      var(--white-background-color) 290px,
      var(--milk-background-color) 0
    );
  }
  @include desktop {
    background-image: linear-gradient(
      180deg,
      var(--white-background-color) 85px,
      var(--milk-background-color) 0
    );
  }
}

.contacts-list {
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc(33.3333% - 20px);
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
  gap: 20px;
  @include tablet {
    gap: 32px;
    flex-wrap: nowrap;
    margin-bottom: 60px;
  }
}

.contacts-list__box {
  background: var(--white-background-color);
  width: 280px;
  height: 412px;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  padding: 40px 69px 40px 32px;
  @include tablet {
    width: 224px;
    height: 528px;
    padding: 40px 32px;
  }
  @include desktop {
    width: 368px;
    height: 538px;
    padding: 40px;
  }
}
.contacts-list__item,
.contacts-list__item-green {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 16px;
  border-radius: 4px;
  font-family: 'DM Sans';
  @include font(500, 12px, 1.84, 0.04em);
  color: var(--white-background-color);
  margin-bottom: 20px;
  @include tablet {
    height: 28px;
    @include font(null, 16px, 1.88, 0.04em);
  }
}
.contacts-list__item {
  width: 80px;
  background-color: var(--brown-background-color);
  @include tablet {
    width: 73px;
  }
}
.contacts-list__item-green {
  width: 130px;
  background-color: var(--green-background-color);
  @include tablet {
    height: 28px;
    width: 138px;
    @include font(null, 16px, 1.88, 0.04em);
  }
}
.contacts-list__city {
  font-family: 'DM Sans';
  @include font(500, 12px, 1.84, 0.04em);
  color: var(--black-text-color);
  margin-bottom: 8px;
  @include tablet {
    margin-bottom: 12px;
    @include font(null, 14px, null, 0.04em);
  }
  @include desktop {
    margin-bottom: 8px;
    @include font(null, 16px, null, 0.04em);
  }
}
.contacts-list__descp {
  font-family: 'DM Sans';
  @include font(500, 12px, 1.5, null);
  color: var(--grey-text-color);
  margin-bottom: 24px;
  @include tablet {
    @include font(null, 14px, 1.64, null);
    margin-bottom: 32px;
  }
  @include desktop {
    @include font(null, 16px, 1.81, 0.04em);
  }
}
.schedule {
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 24px;
  padding: 24px 0;
  @include tablet {
    padding: 32px 0;
    margin-bottom: 32px;
  }
  @include desktop {
    padding: 32px 0;
    margin-bottom: 32px;
  }
}
.schedule__day {
  font-family: 'DM Sans';
  @include font(500, 12px, 1.83, null);
  color: var(--black-text-color);
  @include tablet {
    @include font(null, 14px, 1.86, null);
  }
  @include desktop {
    @include font(null, 16px, 1.88, 00.04em);
  }
}
.schedule__time {
  font-family: 'DM Sans';
  @include font(500, 12px, 1.83, null);
  color: var(--second-accent-color);
  @include tablet {
    @include font(null, 14px, 1.86, null);
  }
  @include desktop {
    @include font(null, 16px, 1.88, null);
  }
}
.time-work {
  margin-bottom: 8px;
  @include tablet {
    margin-bottom: 12px;
  }
  @include desktop {
    margin-bottom: 12px;
  }
}

.contacts-link__path {
  font-family: 'DM Sans';
  @include font(500, 12px, 1.5, null);
  color: inherit;
  @include tablet {
    @include font(null, 14px, 1.85, null);
  }
  @include desktop {
    @include font(null, 16px, 1.82, null);
  }
}
.contacts-link__path:focus,
.contacts-link__path:hover {
  color: var(--accent-color);
}
.contacts-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include tablet {
    display: flex;
    flex-direction: row;
  }
  @include desktop {
    display: flex;
    flex-direction: row;
  }
}
.contacts-btn_locations {
  cursor: pointer;
  width: 162px;
  height: 44px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'DM Sans';
  @include font(700, 16px, 1.32, null);
  color: var(--white-background-color);
  background-color: var(--accent-color);
  border-style: none;
  border-radius: 22px;
  margin-bottom: 10px;

  @include tablet {
    width: 192px;
    margin-bottom: 0;
    margin-right: 15px;
  }
  @include desktop {
    width: 198px;

    margin-right: 12px;
  }
}
.contacts-btn_franchise {
  cursor: pointer;
  width: 162px;
  height: 44px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'DM Sans';
  @include font(700, 16px, 1.32, null);
  color: var(--accent-color);
  background-color: var(--white-background-color);
  border-style: none;
  border-radius: 22px;

  @include tablet {
    width: 174px;
  }
  @include desktop {
    width: 168px;
  }
}

.btn__icon {
  margin-left: 8px;
  width: 4px;
  height: 8px;
}
.btn__icon1 {
  margin-left: 8px;
  width: 4px;
  height: 8px;
}
