.gallery img {
  width: auto;
  display: block;
}
.gallery {
  max-width: 100%;
  padding: 0;
  background-image: linear-gradient(
    to bottom,
    var(--milk-background-color) 20%,
    var(--white-background-color) 20%,
    var(--white-background-color) 80%
  );
  height: 136px;
  @include tablet {
    background-image: linear-gradient(
      to bottom,
      var(--milk-background-color) 57%,
      var(--white-background-color) 57%,
      var(--white-background-color) 43%
    );
    height: 327px;
  }
  @include desktop {
    background-image: linear-gradient(
      to bottom,
      var(--milk-background-color) 20%,
      var(--white-background-color) 20%,
      var(--white-background-color) 80%
    );
    height: 430px;
  }
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 320px;
    min-height: 136px;
    @include tablet {
      min-width: 768px;
      min-height: 327px;
    }
    @include desktop {
      min-width: 1013px;
      min-height: 430px;
    }
  }
  &__wrap {
    flex-direction: column;
  }
  &__wrap + &__wrap {
    margin-left: 3px;
    @include tablet {
      margin-left: 6px;
    }
    @include desktop {
      margin-left: 8px;
    }
  }
}
.gallery__item + .gallery__item {
  margin-top: 3px;
  @include tablet {
    margin-top: 6px;
  }
  @include desktop {
    margin-top: 8px;
  }
}
.gallery__wrap--1 {
  padding-top: 2%;
}
.gallery__wrap--3 {
  padding-top: 5%;
}
.gallery__wrap--5 {
  padding-top: 5%;
}
.img {
  transition: 1s;
}
.img:hover {
  transform: scale(1.2);
}
