img {
  width: auto;
}
.gallery {
  background-image: linear-gradient(
    to bottom,
    var(--milk-background-color) 20%,
    #ffffff 20%
  );
  width: 100%;
}
.gallery__list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 430px;
}
