.header {
  background-color: #ffb8ca;
}

.header__con {
  height: 66px;
  display: flex;
  justify-content: space-between;
  @media screen and (min-width: 320px) {
    max-width: 480px;
  }
  @include tablet {
    max-width: 768px;
    height: 92px;
  }
  @include desktop {
    max-width: 1200px;
  }
}

.header__logo {
  margin-top: 8px;
  @include tablet {
    margin-top: 32px;
  }
  @include desktop {
    margin-top: 37px;
  }
}

.tab__btns {
  display: flex;
}

.header__menu-btn {
  cursor: pointer;
  width: 20px;
  height: 12px;
  padding: 0;
  margin-top: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  z-index: 5;
  & .icon_cross {
    display: none;
  }
  &.is-open .icon_menu {
    display: none;
  }
  &.is-open .icon_cross {
    display: block;
  }
  @include tablet {
    margin-top: 46px;
    margin-right: 32px;
    margin-left: auto;
  }
  @media screen and(min-width:1200px) {
    display: none;
  }
  &.is-open {
    @include mobile {
      position: fixed;
      top: 20px;
      right: 20px;
      margin-right: 0;
      margin-top: 0;
    }
    @include tablet {
      position: fixed;
      top: 20px;
      right: 32px;
    }
  }
}

.header__modal-btn {
  cursor: pointer;
  width: 160px;
  height: 44px;
  background-color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(21 / 16);
  color: #d41443;
  border: none;
  border-radius: 22px;
  margin-top: 32px;
  &:hover,
  &:focus {
    background-color: #ecebeb;
  }
  display: none;
  @include tablet {
    display: block;
  }
  @include desktop {
    margin-top: 40px;
  }
}

.header__nav {
  display: none;
  @include desktop {
    display: block;
    z-index: 2;
  }
}

.header__nav--list {
  display: flex;
  // margin-top: 52px;
  padding-top: 52px;
}

.header__nav--item {
  &:not(:last-child) {
    margin-right: 35px;
  }
}

.header__nav--link {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(21 / 16);
  color: #ffffff;
  &:hover,
  &:focus {
    color: #d41443;
  }
}

.mob_menu {
  width: 250px;
  height: auto;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #e17992;
  height: 100vh;
  z-index: 3;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @include tablet {
    width: 254px;
  }
  &.is-open {
    display: flex;
    flex-direction: column;
    transform: translateX(0%);
  }
}

.mob_menu--btn-cont {
  padding-top: 60px;
  padding-left: 20px;
  @include tablet {
    padding-left: 32px;
  }
}

.mob_menu__modal-btn {
  cursor: pointer;
  width: 209px;
  height: 44px;
  background-color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(21 / 16);
  color: #d41443;
  border: none;
  border-radius: 22px;
  margin-bottom: 32px;
  @include tablet {
    width: 186px;
  }
  &:hover,
  &:focus {
    background-color: #ecebeb;
  }
}

.mob_menu__modal-btn--icon {
  margin-left: 16px;
}

.mob_menu__item {
  padding-top: 12px;
  padding-bottom: 12px;
  border-top: 1px solid #e18298;
  &:last-child {
    border-bottom: 1px solid #e18298;
  }
  padding-left: 20px;
}

.mob_menu__text {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(18 / 14);
  color: #ffffff;
  &:hover,
  &:focus {
    color: #d41443;
  }
}
