//* Hero
.hero {
  background-color: var(--pink-background-color);
}

.hero-tittle {
  font-family: 'Titan One', cursive;
  font-size: 28px;
  font-weight: 400;
  line-height: 0.87;
  letter-spacing: 0.04;
  color: var(--white-text-color);
  &.hero-tittle__word {
    font-size: 48px;
    line-height: 1.03;
    color: rgba(212, 20, 67, 1);
    text-transform: uppercase;
  }
}

.circle {
  border-radius: 50%;
  background-color: --second-accent-color;
}
