.products {
  padding-top: 60px;
  padding-bottom: 60px;

  font-family: 'Titan One', sans-serif;
}

.products__container {
  width: 100%;
}

.products__label {
  margin-bottom: 15px;

  @include font(null, 18px, 1.7, null);
  text-align: center;
  text-transform: uppercase;
  color: var(--second-accent-color);

  @include tablet {
    margin-bottom: 18px;
    @include font(null, 26px, 1.15, null);
  }

  @include desktop {
    margin-bottom: 16px;
    @include font(null, 30px, 1.13, null);
  }
}

.products__title {
  margin-bottom: 8px;

  @include font(null, 34px, 1.4, 0.04em);
  text-align: center;
  text-transform: uppercase;
  color: var(--accent-color);

  @include tablet {
    margin-bottom: 20px;
    @include font(null, 48px, 1.4, 0.04em);
  }

  @include desktop {
    @include font(null, 56px, 1.17, 0.06em);
  }
}

.products-list {
  display: flex;

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }

  @include tablet {
    gap: 16px;
  }

  @include desktop {
    gap: 32px;
  }
}

.products-list__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 140px;
  padding-top: 160px;
  padding-bottom: 40px;
  border-radius: 24px;
  position: relative;

  @include tablet {
    padding-top: 118px;
  }

  @include desktop {
    padding-top: 165px;
    padding-bottom: 60px;
    margin-top: 261px;
  }
}

.products-list__item--pink {
  background: var(--pink-background-color);
}

.products-list__item--brown {
  background: var(--brown-background-color);
}

.products-list__item--green {
  background: var(--green-background-color);
}

.products-list__item::before {
  content: '';
  width: 280px;
  height: 280px;
  position: absolute;
  top: -140px;
  background-repeat: no-repeat;
  background-size: contain;

  @include tablet {
    width: 224px;
    height: 224px;
    top: -138px;
  }

  @include desktop {
    width: 368px;
    height: 394px;
    top: -261px;
  }
}

.icon--pink::before {
  background-image: url(../images/products-icon1-mob.png);
  @include retina {
    background-image: url(../images/products-icon1-mob-2x.png);
  }

  @include tablet {
    background-image: url(../images/products-icon1-tab.png);
    @include retina {
      background-image: url(../images/products-icon1-tab-2x.png);
    }
  }

  @include desktop {
    background-image: url(../images/products-icon1-desc.png);
    @include retina {
      background-image: url(../images/products-icon1-desc-2x.png);
    }
  }
}

.icon--brown::before {
  background-image: url(../images/products-icon2-mob.png);
  @include retina {
    background-image: url(../images/products-icon2-mob-2x.png);
  }

  @include tablet {
    background-image: url(../images/products-icon2-tab.png);
    @include retina {
      background-image: url(../images/products-icon2-tab-2x.png);
    }
  }

  @include desktop {
    background-image: url(../images/products-icon2-desc.png);
    @include retina {
      background-image: url(../images/products-icon2-desc-2x.png);
    }
  }
}

.icon--green::before {
  background-image: url(../images/products-icon3-mob.png);
  @include retina {
    background-image: url(../images/products-icon3-mob-2x.png);
  }

  @include tablet {
    background-image: url(../images/products-icon3-tab.png);
    @include retina {
      background-image: url(../images/products-icon3-tab-2x.png);
    }
  }

  @include desktop {
    background-image: url(../images/products-icon3-desc.png);
    @include retina {
      background-image: url(../images/products-icon3-desc-2x.png);
    }
  }
}

.products-list__title,
.products-modal__title {
  margin-bottom: 70px;

  @include font(null, 20px, 1.15, 0.04em);
  text-transform: uppercase;
  color: var(--white-background-color);
  position: relative;

  @include desktop {
    @include font(null, 30px, 1.13, 0.04em);
  }
}

.products-list__title::after {
  content: '';
  display: block;
  width: 26px;
  height: 6px;
  background-image: url(../images/ellips-mob.png);
  position: absolute;
  bottom: -38px;
  left: 50%;
  transform: translateX(-50%);
  background-size: contain;
  @include retina {
    background-image: url(../images/ellips-mob-2x.png);
  }

  @include tablet {
    background-image: url(../images/ellips-tab.png);
    @include retina {
      background-image: url(../images/ellips-tab-2x.png);
    }
  }

  @include desktop {
    background-image: url(../images/ellips-desc.png);
    @include retina {
      background-image: url(../images/ellips-desc-2x.png);
    }
  }
}

.products-list__text,
.products-modal__text {
  margin-bottom: 32px;
  padding-left: 40px;
  padding-right: 40px;

  font-family: 'DM Sans', sans-serif;
  @include font(700, 14px, 1.52, 0.04em);
  text-align: center;
  color: var(--white-background-color);

  @include tablet {
    padding-left: 32px;
    padding-right: 32px;
  }

  @include desktop {
    padding-left: 63px;
    padding-right: 63px;
    margin-bottom: 60px;
    @include font(700, 16px, 1.76, 0.04em);
  }
}

.products-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: var(--white-background-color);
  cursor: pointer;
  position: relative;
}

.products-btn__icon {
  width: 10px;
  height: 10px;
}

// ---------------------------Backdrop---------------------------------
.products-backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  opacity: 1;
  // overflow-y: scroll;
  transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.products-backdrop.is-hidden .products-modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.products-backdrop--pink {
  background-color: rgb(230, 82, 112, 0.2);
}

.products-backdrop--brown {
  background-color: rgba(244, 153, 96, 0.2);
}

.products-backdrop--green {
  background-color: rgba(100, 228, 121, 0.2);
}

// ----------------------------Modal-window--------------------------------------
.products-modal {
  width: 80vw;
  min-height: 60vh;
  border-radius: 30px 0px 30px 0px;
  padding-top: 10vh;
  box-shadow: 5px 10px 8px rgba($color: #4b463c, $alpha: 1);
  @include tablet {
    width: 60vw;
    min-height: 50vh;
  }
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.products-modal__wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.products-modal--pink {
  background-color: var(--second-accent-color);
  border: thick double rgba(142, 64, 80);
}

.products-modal--brown {
  background-color: var(--brown-background-color);
  border: thick double rgba(107, 43, 3);
}

.products-modal--green {
  background-color: var(--green-background-color);
  border: thick double rgba(10, 93, 24);
}

.products-modal__btn-close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--white-background-color);
  position: absolute;
  top: 10px;
  right: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  @include desktop {
    width: 40px;
    height: 40px;
  }
}

.products-modal__btn-close--pink {
  border: 2px solid rgba(142, 64, 80);
  color: rgba(142, 64, 80);
}

.products-modal__btn-close--brown {
  border: 2px solid rgba(107, 43, 3);
  color: rgba(107, 43, 3);
}

.products-modal__btn-close--green {
  border: 2px solid rgba(10, 93, 24);
  color: rgba(10, 93, 24);
}

.products-modal__title {
  margin-bottom: 20px;
  @media screen and (min-width: 1500px) {
    margin-bottom: 50px;
  }
  text-align: center;
  font-family: 'Titan One', sans-serif;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
