:root {
  // color
  --accent-color: #d41443;
  --second-accent-color: #ffa5ba;
  --white-color: #ffffff;

  //   background-color
  --white-background-color: #ffffff;
  --milk-background-color: #fff5f6;
  --pink-background-color: #ffb8ca;
  --brown-background-color: #f0d1a5;
  --green-background-color: #c2e297;
  --modal-background-color: #e17992;

  //   text-color
  --white-text-color: #ffffff;
  --black-text-color: #000000;
  --grey-text-color: #907e82;
}
