

<section class="about" id="about">
<div class="container about-container">

    <div class="about-top">
      <p class="about-top__text">tradition and love</p>
      <h2 class="about-top__title">how it’s made?</h2>

      <div class="background-image">
        <div class="about-png">
          <picture>
            <source
              srcset="./images/cow-desc.png 1x, ./images/cow-desc-2x.png 2x"
              media="(min-width: 1200px)"
            />
            <source
              srcset="./images/cow-tab.png 1x, ./images/cow-tab-2x.png 2x"
              media="(min-width: 768px)"
            />
            <source
              srcset="./images/cow-mob.png 1x, ./images/cow-mob-2x.png 2x"
              media="(min-width: 320px)"
            />
            <img
              src="./images/cow-desc.png"
              alt="Portrait of Igor"
              width="270"
              height="260"
            />
          </picture>
        </div>

        <div class="about-common">
          <div class="about-content">
            <p class="about-content__top-text">
              Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel
              justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend
              erat at justo fringilla.
            </p>
            <p class="about-content__text">
              Curabitur lacinia enim at ex blandit, vel pellentesque odio
              elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum
              euismod nisl suscipit ligula volutpat, a feugiat urna maximus.
              Cras massa nibh, tincidunt. Aliquam erat volutpat. Aenean
              accumsan.
            </p>
          </div>

          <button type="button" class="about-content__btn">
            Read more
            <!-- <span class="vector">></span></button>   -->
            <span
              ><svg class="vector" width="10" height="10">
                <use href="./images/sprite.svg#icon-button-vector1"></use></svg
            ></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
