<section class="advantages">
    <div class="advantages__container container">
        <ul class="advantages__list">
            <li class="advantages__item advantages__item-milk">
                <p class="advantages__top-text">721</p>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item advantages__item-apple">
                <p class="advantages__top-text">16kg</p>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item advantages__item-candy">
                <p class="advantages__top-text">84</p>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>


