<section class="contacts" id="contacts">
  <div class="container">
    <h2 class="visually__hidden">Contacts</h2>
    <ul class="contacts-list list">
      <li class="contacts-list__box">
        <p class="contacts-list__item">CAFE</p>
        <h3 class="contacts-list__city">Chicago</h3>
        <p class="contacts-list__descp">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <div class="schedule">
          <p class="schedule__day">Monday - Friday</p>
          <p class="schedule__time time-work">06:00 AM - 10:00 PM</p>
          <p class="schedule__day">Saturday - Sunday</p>
          <p class="schedule__time">08:00 AM - 16:00 PM</p>
        </div>
        <div class="contacts-link">
          <a class="contacts-link__path link" href="tel:+610383766284"
            >+61(0) 383 766 284
          </a>
          <a class="contacts-link__path link" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </div>
      </li>
      <li class="contacts-list__box">
        <p class="contacts-list__item-green">FOOD TRUCK</p>
        <h3 class="contacts-list__city">Los Angeles</h3>
        <p class="contacts-list__descp">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <div class="schedule">
          <p class="schedule__day">Monday - Friday</p>
          <p class="schedule__time time-work">06:00 AM - 10:00 PM</p>
          <p class="schedule__day">Saturday - Sunday</p>
          <p class="schedule__time">08:00 AM - 16:00 PM</p>
        </div>
        <div class="contacts-link">
          <a class="contacts-link__path link" href="tel:+610383766284"
            >+61(0) 383 766 284
          </a>
          <a class="contacts-link__path link" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </div>
      </li>
      <li class="contacts-list__box">
        <p class="contacts-list__item">CAFE</p>
        <h3 class="contacts-list__city">New York</h3>
        <p class="contacts-list__descp">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <div class="schedule">
          <p class="schedule__day">Monday - Friday</p>
          <p class="schedule__time time-work">06:00 AM - 10:00 PM</p>
          <p class="schedule__day">Saturday - Sunday</p>
          <p class="schedule__time">08:00 AM - 16:00 PM</p>
        </div>
        <div class="contacts-link">
          <a class="contacts-link__path link" href="tel:+610383766284"
            >+61(0) 383 766 284
          </a>
          <a class="contacts-link__path link" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </div>
      </li>
    </ul>
    <ul class="contacts-btn list">
      <li>
        <button type="button" class="contacts-btn_locations">
          Our Locations
          <svg class="btn__icon1" width="6" height="10">
            <use href="/src/images/sprite.svg#icon-button-vector-con"></use>
          </svg>
        </button>
      </li>
      <li>
        <button type="button" class="contacts-btn_franchise">
          Franchise
          <svg class="btn__icon" width="6" height="10">
            <use href="/src/images/sprite.svg#icon-button-vector1"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
