<section>
  <div class="container reviews" id="about">
    <div class="review">
      <ul class="reviews__list">
        <li class="reviews__img">
          <picture>
            <source srcset="./images/DmytroV.png" />
            <img src="./images/DmytroV.png" alt="DmytroV" />
          </picture>
        </li>
        <li class="reviews__text">
          <div class="linear-gradient">
            <p class="customer__text">
              By results of work in our team we can boldly approve that equality
              and respect towards our colleagues is that what every organisation
              needs to build efficient and productive team.
            </p>
          </div>
        </li>
        <li class="reviews__customer">
          <p class="customer__name">Dmytro, Kyiv</p>
        </li>
      </ul>
    </div>

    <div class="review">
      <ul class="reviews__list">
        <li class="reviews__img">
          <picture class="reviews__picture">
            <source srcset="./images/Elena.png" />
            <img src="./images/Elena.png" alt="Elena" />
          </picture>
        </li>
        <li class="reviews__text">
          <div class="linear-gradient">
            <p class="customer__text">
              When you succeed in something, you are overjoyed, but when the
              project grows and functions, thanks to awesome teamwork, it is
              very inspiring for further goals. We are cool!
            </p>
          </div>
        </li>
        <li class="reviews__customer">
          <p class="customer__name">Elena, Vinnytsia</p>
        </li>
      </ul>
    </div>

    <div class="review">
      <ul class="reviews__list">
        <li class="reviews__img">
          <picture class="reviews__picture">
            <source srcset="./images/Alla.png" />
            <img src="./images/Alla.png" alt="Alla" />
          </picture>
        </li>
        <li class="reviews__text">
          <div class="linear-gradient">
            <p class="customer__text">
              Very lucky with my team in the development of a team project. All
              members of the team are professionals in their field. Got a lot of
              fun from working together!
            </p>
          </div>
        </li>
        <li class="reviews__customer">
          <p class="customer__name">Alla, Ternopil</p>
        </li>
      </ul>
    </div>

    <div class="review">
      <ul class="reviews__list">
        <li class="reviews__img">
          <picture class="reviews__picture">
            <source srcset="./images/Katok.png" />
            <img src="./images/Katok.png" alt="Kateryna" />
          </picture>
        </li>
        <li class="reviews__text">
          <div class="linear-gradient">
            <p class="customer__text">
              I'm fully excited because of my work in team, the responsibility
              grows significantly but this only promotes the coding since you
              don't want to let down your team!
            </p>
          </div>
        </li>
        <li class="reviews__customer">
          <p class="customer__name">Kateryna, Kyiv</p>
        </li>
      </ul>
    </div>

    <div class="review">
      <ul class="reviews__list">
        <li class="reviews__img">
          <picture class="reviews__picture">
            <source srcset="./images/DmytroM.png" />
            <img src="./images/DmytroM.png" alt="DmytroM" />
          </picture>
        </li>
        <li class="reviews__text">
          <div class="linear-gradient">
            <p class="customer__text">
              This teamwork taught me to work in a team and complete tasks in
              time. I've learned something new and got a new experience from
              work with team.
            </p>
          </div>
        </li>
        <li class="reviews__customer">
          <p class="customer__name">Dmytro, Mariupol</p>
        </li>
      </ul>
    </div>

    <div class="review">
      <ul class="reviews__list">
        <li class="reviews__img">
          <picture>
            <source srcset="./images/Neodim.png" />
            <img src="./images/Neodim.png" alt="neodim" />
          </picture>
        </li>
        <li class="reviews__text">
          <div class="linear-gradient">
            <p class="customer__text">
              I've got a big pleasure from working on a project with such a
              great team as our! We have shown the best of what we could do and
              were very enthusiastic in the process!
            </p>
          </div>
        </li>
        <li class="reviews__customer">
          <p class="customer__name">Dmytro, Kharkiv</p>
        </li>
      </ul>
    </div>

    <div class="review">
      <ul class="reviews__list">
        <li class="reviews__img">
          <picture>
            <source srcset="./images/Khrystyna.png" />
            <img src="./images/Khrystyna.png" alt="Khrystyna" />
          </picture>
        </li>
        <li class="reviews__text">
          <div class="linear-gradient">
            <p class="customer__text">
              The implementation of the team project was very interesting and
              useful. I've got the new experience and skills. The atmosphere was
              fantastic, very friendly and supportive!
            </p>
          </div>
        </li>
        <li class="reviews__customer">
          <p class="customer__name">Khrystyna, Lviv</p>
        </li>
      </ul>
    </div>

    <div class="review">
      <ul class="reviews__list">
        <li class="reviews__img">
          <picture>
            <source srcset="./images/Anna.png" />
            <img src="./images/Anna.png" alt="Anna" />
          </picture>
        </li>
        <li class="reviews__text">
          <div class="linear-gradient">
            <p class="customer__text">
              My impressions from work: it was very interesting to code Hero
              section especially to test myself in animation what we didn't do
              for homework!
            </p>
          </div>
        </li>
        <li class="reviews__customer">
          <p class="customer__name">Anna, Odesa</p>
        </li>
      </ul>
    </div>

    <div class="review">
      <ul class="reviews__list">
        <li class="reviews__img">
          <picture>
            <source srcset="./images/Artur.png" />
            <img src="./images/Artur.png" alt="Artur" />
          </picture>
        </li>
        <li class="reviews__text">
          <div class="linear-gradient">
            <p class="customer__text">
              Although the layout wasn't easy but the work in team, coherence
              and responsibility helps us manage all the things. It was
              unforgettable experience!
            </p>
          </div>
        </li>
        <li class="reviews__customer">
          <p class="customer__name">Artur, Dnipro</p>
        </li>
      </ul>
    </div>
  </div>
</section>
