<div class="container reviews" id="about">
  <div class="review">
    <ul class="reviews__list">
      <li class="reviews__img">
        <picture>
          <source
            srcset="./images/woman-1.png 1x, ./images/woman-1-2x.png 2x"
          />
          <img src="./images/woman-1.png" alt="customer 1" />
        </picture>
      </li>
      <li class="reviews__text">
        <div class="linear-gradient">
          <p class="customer__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
        </div>
      </li>
      <li class="reviews__customer">
        <p class="customer__name">Emily, Los Angeles</p>
      </li>
    </ul>
  </div>
  <div class="review">
    <ul class="reviews__list">
      <li class="reviews__img">
        <picture>
          <source
            srcset="./images/woman-2.png 1x, ./images/woman-2-2x.png 2x"
          />
          <img src="./images/woman-2.png" alt="customer 2" />
        </picture>
      </li>
      <li class="reviews__text">
        <div class="linear-gradient">
          <p class="customer__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
        </div>
      </li>
      <li class="reviews__customer">
        <p class="customer__name">Julia, San Francisco</p>
      </li>
    </ul>
  </div>
  <div class="review">
    <ul class="reviews__list">
      <li class="reviews__img">
        <picture>
          <source
            srcset="./images/woman-3.png 1x, ./images/woman-3-2x.png 2x"
          />
          <img src="./images/woman-3.png" alt="customer 3" />
        </picture>
      </li>
      <li class="reviews__text">
        <div class="linear-gradient">
          <p class="customer__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
        </div>
      </li>
      <li class="reviews__customer">
        <p class="customer__name">Melanie, San Jose</p>
      </li>
    </ul>
  </div>
</div>
