<footer class="footer">
  <div class="footer__wrap container">
    <div class="footer__container">
      <p class="footer__text">homemade ice cream made</p>
      <span class="footer__span">with passion</span>
    </div>

    <div class="footer__wrap-link">
      <div class="footer__soc">
        <ul class="footer__soc-list">
          <li class="footer__soc-item">
            <a
              class="footer__soc-link"
              target="_blank"
              href="https://github.com/Sivonenko"
            >
              <svg class="footer__soc-icon" width="32" height="32">
                <use href="./images/sprite.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="footer__soc-item">
            <a
              class="footer__soc-link"
              target="_blank"
              href="https://telegram.org"
            >
              <svg class="footer__soc-icon" width="32" height="32">
                <use href="./images/sprite.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li class="footer__soc-item">
            <a
              class="footer__soc-link"
              target="_blank"
              href="https://m.facebook.com"
            >
              <svg class="footer__soc-icon" width="32" height="32">
                <use href="./images/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__contacts">
        <span class="footer__contacts-text">Feel free to contact</span>
        <a class="footer__contacts-link" href="tel:+610383766284"
          >+61 (0) 383 766 284</a
        >
      </div>
     
    </div>
  </div>
  <div class="footer__copy">
    <p class="footer__copy-text">&copy 2022 - IceCream. All Rights Reserved.</p>
  </div>
</footer>
