<div class="container">
  <h2 class="galery__title">Gallery</h2>
  <ul class="galery__list">
    <li class="galery__item">
      <picture>
        <source srcset="" media="(min-width:1200px)" />
        <source srcset="" media="(min-width:768px)" />
        <source srcset="" media="(min-width:320px)" />
        <img class="galery__img" src="" alt="" width=""
      /></picture>
    </li>
    <li class="galery__item">
      <picture>
        <source srcset="" media="(min-width:1200px)" />
        <source srcset="" media="(min-width:768px)" />
        <source srcset="" media="(min-width:320px)" />
        <img class="galery__img" src="" alt="" width=""
      /></picture>
    </li>
    <li class="galery__item">
      <picture>
        <source srcset="" media="(min-width:1200px)" />
        <source srcset="" media="(min-width:768px)" />
        <source srcset="" media="(min-width:320px)" />
        <img class="galery__img" src="" alt="" width=""
      /></picture>
    </li>
    <li class="galery__item">
      <picture>
        <source srcset="" media="(min-width:1200px)" />
        <source srcset="" media="(min-width:768px)" />
        <source srcset="" media="(min-width:320px)" />
        <img class="galery__img" src="" alt="" width=""
      /></picture>
    </li>
    <li class="galery__item">
      <picture>
        <source srcset="" media="(min-width:1200px)" />
        <source srcset="" media="(min-width:768px)" />
        <source srcset="" media="(min-width:320px)" />
        <img class="galery__img" src="" alt="" width=""
      /></picture>
    </li>
    <li class="galery__item">
      <picture>
        <source srcset="" media="(min-width:1200px)" />
        <source srcset="" media="(min-width:768px)" />
        <source srcset="" media="(min-width:320px)" />
        <img class="galery__img" src="" alt="" width=""
      /></picture>
    </li>
    <li class="galery__item">
      <picture>
        <source srcset="" media="(min-width:1200px)" />
        <source srcset="" media="(min-width:768px)" />
        <source srcset="" media="(min-width:320px)" />
        <img class="galery__img" src="" alt="" width=""
      /></picture>
    </li>
    <li class="galery__item">
      <picture>
        <source srcset="" media="(min-width:1200px)" />
        <source srcset="" media="(min-width:768px)" />
        <source srcset="" media="(min-width:320px)" />
        <img class="galery__img" src="" alt="" width=""
      /></picture>
    </li>
    <li class="galery__item">
      <picture>
        <source srcset="" media="(min-width:1200px)" />
        <source srcset="" media="(min-width:768px)" />
        <source srcset="" media="(min-width:320px)" />
        <img class="galery__img" src="" alt="" width=""
      /></picture>
    </li>
    <li class="galery__item">
      <picture>
        <source srcset="" media="(min-width:1200px)" />
        <source srcset="" media="(min-width:768px)" />
        <source srcset="" media="(min-width:320px)" />
        <img class="galery__img" src="" alt="" width=""
      /></picture>
    </li>
  </ul>
</div>
