<div class="container gallery">
  <h2 class="visually__hidden">Gallery</h2>
  <div class="gallery__list">
    <div class="gallery__wrap">
      <picture>
        <source
          srcset="
            ./images/gallery-1-desc.png    1x,
            ./images/gallery-1-desc-2x.png 2x
          "
          media="(min-width:1200px)" />
        <source
          srcset="
            ./images/gallery-1-tab.png    1x,
            ./images/gallery-1-tab-2x.png 2x
          "
          media="(min-width:768px)" />
        <source
          srcset="
            ./images/gallery-1-mob.png    1x,
            ./images/gallery-1-mob-2x.png 2x
          "
          media="(min-width:320px)" />
        <img src="./images/gallery-1-desc.png" alt="" width="138"
      /></picture>
    </div>
    <div class="gallery__wrap">
      <div>
        <picture>
          <source
            srcset="
              ./images/gallery-2-desc.png    1x,
              ./images/gallery-2-desc-2x.png 2x
            "
            media="(min-width:1200px)" />
          <source
            srcset="
              ./images/gallery-2-tab.png    1x,
              ./images/gallery-2-tab-2x.png 2x
            "
            media="(min-width:768px)" />
          <source
            srcset="
              ./images/gallery-2-mob.png    1x,
              ./images/gallery-2-mob-2x.png 2x
            "
            media="(min-width:320px)" />
          <img src="./images/gallery-2-desc.png" alt="" width="138"
        /></picture>
      </div>
      <div>
        <picture>
          <source
            srcset="
              ./images/gallery-6-desc.png    1x,
              ./images/gallery-6-desc-2x.png 2x
            "
            media="(min-width:1200px)" />
          <source
            srcset="
              ./images/gallery-6-tab.png    1x,
              ./images/gallery-6-tab-2x.png 2x
            "
            media="(min-width:768px)" />
          <source
            srcset="
              ./images/gallery-6-mob.png    1x,
              ./images/gallery-6-mob-2x.png 2x
            "
            media="(min-width:320px)" />
          <img src="./images/gallery-6-desc.png" alt="" width="138"
        /></picture>
      </div>
    </div>
    <div class="gallery__wrap">
      <div>
        <picture>
          <source
            srcset="
              ./images/gallery-3-desc.png    1x,
              ./images/gallery-3-desc-2x.png 2x
            "
            media="(min-width:1200px)" />
          <source
            srcset="
              ./images/gallery-3-tab.png    1x,
              ./images/gallery-3-tab-2x.png 2x
            "
            media="(min-width:768px)" />
          <source
            srcset="
              ./images/gallery-3-mob.png    1x,
              ./images/gallery-3-mob-2x.png 2x
            "
            media="(min-width:320px)" />
          <img src="./images/gallery-3-desc.png" alt="" width="283"
        /></picture>
      </div>
      <div>
        <picture>
          <source
            srcset="
              ./images/gallery-7-desc.png    1x,
              ./images/gallery-7-desc-2x.png 2x
            "
            media="(min-width:1200px)" />
          <source
            srcset="
              ./images/gallery-7-tab.png    1x,
              ./images/gallery-7-tab-2x.png 2x
            "
            media="(min-width:768px)" />
          <source
            srcset="
              ./images/gallery-7-mob.png    1x,
              ./images/gallery-7-mob-2x.png 2x
            "
            media="(min-width:320px)" />
          <img src="./images/gallery-7-desc.png" alt="" width="138"
        /></picture>
      </div>
    </div>
    <div class="gallery__wrap">
      <div>
        <picture>
          <source
            srcset="
              ./images/gallery-4-desc.png    1x,
              ./images/gallery-4-desc-2x.png 2x
            "
            media="(min-width:1200px)" />
          <source
            srcset="
              ./images/gallery-4-tab.png    1x,
              ./images/gallery-4-tab-2x.png 2x
            "
            media="(min-width:768px)" />
          <source
            srcset="
              ./images/gallery-4-mob.png    1x,
              ./images/gallery-4-mob-2x.png 2x
            "
            media="(min-width:320px)" />
          <img src="./images/gallery-4-desc.png" alt="" width="138"
        /></picture>
      </div>
      <div class="gallery__wrap">
        <picture>
          <source
            srcset="
              ./images/gallery-8-desc.png    1x,
              ./images/gallery-8-desc-2x.png 2x
            "
            media="(min-width:1200px)" />
          <source
            srcset="
              ./images/gallery-8-tab.png    1x,
              ./images/gallery-8-tab-2x.png 2x
            "
            media="(min-width:768px)" />
          <source
            srcset="
              ./images/gallery-8-mob.png    1x,
              ./images/gallery-8-mob-2x.png 2x
            "
            media="(min-width:320px)" />
          <img src="./images/gallery-8-desc.png" alt="" width="138"
        /></picture>
      </div>
    </div>
    <div>
      <div>
        <picture>
          <source
            srcset="
              ./images/gallery-5-desc.png    1x,
              ./images/gallery-5-desc-2x.png 2x
            "
            media="(min-width:1200px)" />
          <source
            srcset="
              ./images/gallery-5-tab.png    1x,
              ./images/gallery-5-tab-2x.png 2x
            "
            media="(min-width:768px)" />
          <source
            srcset="
              ./images/gallery-5-mob.png    1x,
              ./images/gallery-5-mob-2x.png 2x
            "
            media="(min-width:320px)" />
          <img src="./images/gallery-5-desc.png" alt="" width="138"
        /></picture>
      </div>
      <div>
        <picture>
          <source
            srcset="
              ./images/gallery-9-desc.png    1x,
              ./images/gallery-9-desc-2x.png 2x
            "
            media="(min-width:1200px)" />
          <source
            srcset="
              ./images/gallery-9-tab.png    1x,
              ./images/gallery-9-tab-2x.png 2x
            "
            media="(min-width:768px)" />
          <source
            srcset="
              ./images/gallery-9-mob.png    1x,
              ./images/gallery-9-mob-2x.png 2x
            "
            media="(min-width:320px)" />
          <img src="./images/gallery-9-desc.png" alt="" width="138"
        /></picture>
      </div>
    </div>
    <div>
      <picture>
        <source
          srcset="
            ./images/gallery-10-desc.png    1x,
            ./images/gallery-10-desc-2x.png 2x
          "
          media="(min-width:1200px)" />
        <source
          srcset="
            ./images/gallery-10-tab.png    1x,
            ./images/gallery-10-tab-2x.png 2x
          "
          media="(min-width:768px)" />
        <source
          srcset="
            ./images/gallery-10-mob.png    1x,
            ./images/gallery-10-mob-2x.png 2x
          "
          media="(min-width:320px)" />
        <img src="./images/gallery-10-desc.png" alt="" width="138"
      /></picture>
    </div>
  </div>
</div>
