<header class="header">
  <div class="container header__con">
    <svg class="header__logo" width="199" height="50">
      <use href="./images/sprite.svg#icon-logo"></use>
    </svg>
    <!-- <nav class="header__nav"></nav> -->
    <div class="tab__btns">
      <button
        type="button"
        width="30"
        height="30"
        class="header__menu-btn"
        data-menu-button
      >
        <svg
          width="24"
          height="14"
          class="header__menu-btn--icon"
          aria-label="Переключатель мобильного меню"
        >
          <use class="icon_menu" href="./images/sprite.svg#icon-Burger"></use>
          <use
            class="icon_cross"
            href="./images/sprite.svg#icon-Burger-close"
          ></use>
        </svg>
      </button>
      <button type="button" class="header__modal-btn">Buy now</button>
    </div>
  </div>
  <div class="mob_menu" data-menu>
    <button type="button" class="mob_menu__modal-btn">Buy now</button>
    <ul class="mob_menu__list">
      <li class="mob_menu__item"><p class="mob_menu__text">Home</p></li>
      <li class="mob_menu__item"><p class="mob_menu__text">About us</p></li>
      <li class="mob_menu__item">
        <p class="mob_menu__text">How it’s made?</p>
      </li>
      <li class="mob_menu__item">
        <p class="mob_menu__text">Our products</p>
      </li>
      <li class="mob_menu__item"><p class="mob_menu__text">Contact</p></li>
    </ul>
  </div>
</header>
