<section class="hero">
  <div class="container hero-container">
    <h1 class="hero-tittle">
      ice cream made with <span class="hero-tittle__word">passion</span>
    </h1>
    <ul class="button-panel">
      <li class="batton-panel__item">
        <button class="hero-btn">Products</button>
      </li>
      <li class="batton-panel__item">
        <button class="hero-btn">How it’s made?</button>
      </li>
    </ul>
    <div class="circle">
      <img src="./images/hero-ellipse-mob.png" />
    </div>
    <img class="icecream-img" src="./images/hero-icecream-mob.png" alt="шарики
    мороженного в рожке" width="141" height="410"
  </div>
</section>
