<header class="header">
  <div class="container header__con">
    <div class="header__logo">
      <svg class="header__logo-icon" width="199" height="50">
        <use href="./images/sprite.svg#icon-logo"></use>
      </svg>
    </div>
    <nav class="header__nav">
      <ul class="header__nav--list">
        <li class="header__nav--item">
          <a class="header__nav--link" href="">Home</a>
        </li>
        <li class="header__nav--item">
          <a class="header__nav--link" href="#about">About us</a>
        </li>
        <li class="header__nav--item">
          <a class="header__nav--link" href="#made">How it’s made?</a>
        </li>
        <li class="header__nav--item">
          <a class="header__nav--link" href="#products">Our products</a>
        </li>
        <li class="header__nav--item">
          <a class="header__nav--link" href="#contact">Contact</a>
        </li>
      </ul>
    </nav>
    <div class="tab__btns">
      <button
        type="button"
        width="30"
        height="30"
        class="header__menu-btn"
        data-menu-button
      >
        <svg
          width="24"
          height="14"
          class="header__menu-btn--icon"
          aria-label="Переключатель мобильного меню"
        >
          <use class="icon_menu" href="./images/sprite.svg#icon-Burger"></use>
          <use
            class="icon_cross"
            href="./images/sprite.svg#icon-Burger-close"
          ></use>
        </svg>
      </button>
      <button type="button" class="header__modal-btn" buy-modal-open>
        Buy now
        <svg class="mob_menu__modal-btn--icon" width="5.26" height="8">
          <use href="./images/sprite.svg#icon-button-vector1"></use>
        </svg>
      </button>
    </div>
  </div>
  <div class="mob_menu" data-menu>
    <div class="mob_menu--btn-cont">
      <button
        type="button"
        class="mob_menu__modal-btn"
        buy-modal__mob-menu-open
      >
        Buy now
        <svg class="mob_menu__modal-btn--icon" width="5.26" height="8">
          <use href="./images/sprite.svg#icon-button-vector1"></use>
        </svg>
      </button>
    </div>
    <ul class="mob_menu__list">
      <li class="mob_menu__item"><a class="mob_menu__text" href="">Home</a></li>
      <li class="mob_menu__item">
        <a class="mob_menu__text" href="#about">About us</a>
      </li>
      <li class="mob_menu__item">
        <a class="mob_menu__text" href="#made">How it’s made?</a>
      </li>
      <li class="mob_menu__item">
        <a class="mob_menu__text" href="#products">Our products</a>
      </li>
      <li class="mob_menu__item">
        <a class="mob_menu__text" href="#contact">Contact</a>
      </li>
    </ul>
  </div>
  <!-- backdrop-2-of-modal window in header -->
  <div class="backdrop-cont is-hidden" header-modal>
    <!-- modal window in header -->
    <form class="order-fieldset" autocomplete="on" id="buy">
      <h2 class="fieldset__title">Your order</h2>
      <!-- button for close modal window in header -->
      <button class="fieldset__close-btn" type="button" buy-modal-close>
        <svg class="fieldset__close-icon" width="24" height="14">
          <use href="./images/sprite.svg#icon-Burger-close"></use>
        </svg>
      </button>
      <div class="fieldset__wrap">
        <div class="label-wrap">
          <label class="label-wrap__name" for="name" autofocus>Name</label>
          <input
            class="label-wrap__input"
            type="text"
            name="name"
            id="name"
            required
          />
        </div>
        <div class="label-wrap">
          <label class="label-wrap__name" for="tel">Phone</label>
          <input
            class="label-wrap__input"
            type="tel"
            name="tel"
            id="tel"
            required
          />
        </div>
        <div class="label-wrap">
          <label for="product" class="label-wrap__name">City</label>
          <select class="label-wrap__input" id="product" name="product">
            <option value="CH">Chicago</option>
            <option value="LA">Los Angeles</option>
            <option value="NY" selected>New York</option>
          </select>
        </div>
        <div class="label-wrap">
          <label for="city" class="label-wrap__name">Product</label>
          <select class="label-wrap__input" id="city" name="city">
            <option value="IC" selected>ICE CREAM</option>
            <option value="IF">ICE COFFEE</option>
            <option value="M">MILKSHAKES</option>
          </select>
        </div>
        <div class="product-wrap">
          <div class="label-wrap product-wrap__title">
            <p>Size</p>
            <div class="radio-wrap size-wrap">
              <input type="radio" name="size" id="s" />
              <label for="s" class="label-wrap__name label-radio"
                >S<span class="size-wrap__span">mall</span></label
              >
              <input type="radio" name="size" checked="checked" id="m" />
              <label for="m" class="label-wrap__name label-radio"
                >M<span class="size-wrap__span">edium</span></label
              >
              <input type="radio" name="size" id="l" />
              <label for="l" class="label-wrap__name label-radio"
                >L<span class="size-wrap__span">arge</span></label
              >
            </div>
          </div>
          <div class="label-wrap product-number">
            <label class="label-wrap__name label-wrap__name--count" for="count"
              >How many</label
            >
            <input
              class="label-wrap__input label-wrap-count__input"
              type="count"
              name="count"
              id="count"
              required
            />
          </div>
        </div>
      </div>
      <div class="label-wrap">
        <label for="message" class="label-wrap__name">Message</label>
        <textarea
          class="label-wrap__input label-wrap__textarea"
          name="feedback"
          rows="5"
          placeholder="Type your message here..."
          id="message"
        ></textarea>
      </div>
      <div class="fieldset__button">
        <button class="fieldset__button-reset" type="reset">Reset</button>
        <button class="fieldset__button-order" type="submit">Order Now</button>
      </div>
    </form>
  </div>

  <!-- backdrop-1-of-modal window in mobile menu -->
  <div class="backdrop-cont is-hidden" header-modal1>
    <!-- modal window in mobile menu -->
    <form class="order-fieldset" autocomplete="on" id="buy">
      <h2 class="fieldset__title">Your order</h2>
      <!-- button for close modal window in mobile menu -->
      <button
        class="fieldset__close-btn"
        type="button"
        buy-modal__mob-menu-close
      >
        <svg class="fieldset__close-icon" width="24" height="14">
          <use href="./images/sprite.svg#icon-Burger-close"></use>
        </svg>
      </button>
      <div class="fieldset__wrap">
        <div class="label-wrap">
          <label class="label-wrap__name" for="name" autofocus>Name</label>
          <input
            class="label-wrap__input"
            type="text"
            name="name"
            id="name"
            required
          />
        </div>
        <div class="label-wrap">
          <label class="label-wrap__name" for="tel">Phone</label>
          <input
            class="label-wrap__input"
            type="tel"
            name="tel"
            id="tel"
            required
          />
        </div>
        <div class="label-wrap">
          <label for="product" class="label-wrap__name">City</label>
          <select class="label-wrap__input" id="product" name="product">
            <option value="CH">Chicago</option>
            <option value="LA">Los Angeles</option>
            <option value="NY" selected>New York</option>
          </select>
        </div>
        <div class="label-wrap">
          <label for="city" class="label-wrap__name">Product</label>
          <select class="label-wrap__input" id="city" name="city">
            <option value="IC" selected>ICE CREAM</option>
            <option value="IF">ICE COFFEE</option>
            <option value="M">MILKSHAKES</option>
          </select>
        </div>
        <div class="product-wrap">
          <div class="label-wrap product-wrap__title">
            <p>Size</p>
            <div class="radio-wrap size-wrap">
              <input type="radio" name="size" id="s" />
              <label for="s" class="label-wrap__name label-radio"
                >S<span class="size-wrap__span">mall</span></label
              >
              <input type="radio" name="size" checked="checked" id="m" />
              <label for="m" class="label-wrap__name label-radio"
                >M<span class="size-wrap__span">edium</span></label
              >
              <input type="radio" name="size" id="l" />
              <label for="l" class="label-wrap__name label-radio"
                >L<span class="size-wrap__span">arge</span></label
              >
            </div>
          </div>
          <div class="label-wrap product-number">
            <label class="label-wrap__name label-wrap__name--count" for="count"
              >How many</label
            >
            <input
              class="label-wrap__input label-wrap-count__input"
              type="count"
              name="count"
              id="count"
              required
            />
          </div>
        </div>
      </div>
      <div class="label-wrap">
        <label for="message" class="label-wrap__name">Message</label>
        <textarea
          class="label-wrap__input label-wrap__textarea"
          name="feedback"
          rows="5"
          placeholder="Type your message here..."
          id="message"
        ></textarea>
      </div>
      <div class="fieldset__button">
        <button class="fieldset__button-reset" type="reset">Reset</button>
        <button class="fieldset__button-order" type="submit">Order Now</button>
      </div>
    </form>
  </div>
</header>
