<section class="hero">
  <div class="container hero-container">
    <h1 class="hero-tittle">
      ice cream <br> made with <span class="hero-tittle__word">passion</span>
    </h1>
    <ul class="button-panel">
      <li class="button-panel__item">
        <a href="#products" class="button-panel__link">Products</a>
      </li>
      <li class="button-panel__item">
        <a href="#about" class="button-panel__link text-color">How it’s made?</a>
      </li>
    </ul>
    <div class="hero-box">
    <picture>
      <source
        srcset="./images/bigeco-tab.png 1x, ./images/bigeco-tab-2x.png 2x"
        media="(max-width: 1199px)"
      />
      <source
        srcset="./images/bigeco-desc.png 1x, ./images/bigeco-desc-2x.png 2x"
        media="(width: 1200px)"
      />
      <img class="bigeco-img" src="./images/bigeco-tab.png" />
    </picture>
    <div class="hero-thumb"><p class="hero-text">
      We love animals, we are of the opinion that only happy and satisfied cows give high-quality, tasty milk.
    </p>


    <a href="https://lenaleri.github.io/cows-gallery/" target="_blank">
       <button type="button" class="button-arrow">
  <svg class="button-arrow__icon" width="12px" height="12px">

        <use href="./images/sprite.svg#icon-arrow-right2"></use>
      </svg></div></div>
    </button>
    </a>
   
    <picture>
      <source
        srcset="
          ./images/hero-ellipse-mob.png 1x,
          ./images/hero-ellipse-mob-2x.png 2x
        "
        media="(max-width: 767px)"
      />
      <source
        srcset="
          ./images/hero-ellipse-tab.png    1x,
          ./images/hero-ellipse-tab-2x.png 2x
        "
        media="(max-width: 1199px)"
      />
      <source
        srcset="
          ./images/hero-ellipse-desc.png    1x,
          ./images/hero-ellipse-desc-2x.png 2x
        "
        media="(min-width: 1200px)"
      />
      <img
        class="ellipse"
        src="./images/hero-ellipse-mob.png"
        alt="эллипс"
      />
    </picture>
    <picture>
      <source
        srcset="
          ./images/hero-icecream-mob.png 1x,
          ./images/hero-icecream-mob-2x.png 2x
        "
        media="(max-width: 767px)"
      />
      <source
        srcset="
          ./images/hero-icecream-tab.png 1x,
          ./images/hero-icecream-tab-2x.png 2x
        "
        media="(max-width: 1199px)"
      />
      <source
        srcset="
          ./images/hero-icecream-desc.png    1x,
          ./images/hero-icecream-desc-2x.png 2x
        "
        media="(min-width: 1200px)"
      />
      <img
      class="icecream-img"
      src="./images/hero-icecream-mob.png"
      alt="шарики
    мороженного в рожке"
    />
    </picture>
    <picture>
      <source
        srcset="
          ./images/girl-tab.png 1x,
          ./images/girl-tab-2x.png 2x
        "
        media="(max-width: 1199px)"
      />
      <source
        srcset="
          ./images/girl-desc.png    1x,
          ./images/girl-desc-2x.png 2x
        "
        media="(min-width: 1200px)"
      />
      <img
      class="girl-img data-aos="zoom-in-left""
      src="./images/girl-tab.png"
      alt="девушка"
    />
    </picture>
    <ul class="hero-cafe__list">
    <li class="hero-cafe__item">
      <p class="hero-cafe__text"><span class="hero-cafe__number">16</span>cafes</p>
      <svg class="hero-cafe__icon">
        <use href="./images/sprite.svg#icon-hero-ellipse"></use>
      </svg>
    </li>
    <li class="hero-cafe__item">
      <p class="hero-cafe__text"><span class="hero-cafe__number">23</span>food trucks</p>
      <svg class="hero-cafe__icon" width="16px" height="16px">
        <use href="./images/sprite.svg#icon-hero-ellipse"></use>
      </svg>
    </li>
  </ul>
  </div>
</section>

