<section class="products">
  <div class="container">
    <p class="products__label">100% natural</p>
    <h2 class="products__title">products</h2>
    <ul class="products-list">
      <li class="products-list__item products-list__item--pink icon--pink">
        <h3 class="products-list__title">ice cream</h3>
        <p class="products-list__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <button
          type="button"
          class="products-btn products-btn--pink"
          data-modal-open1
        >
          <svg class="products-btn__icon" width="10" height="10">
            <use href="./images/sprite.svg#icon-button-vector1"></use>
          </svg>
        </button>
      </li>
      <li class="products-list__item products-list__item--brown icon--brown">
        <h3 class="products-list__title">ice coffee</h3>
        <p class="products-list__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <button
          type="button"
          class="products-btn products-btn--brown"
          data-modal-open2
        >
          <svg class="products-btn__icon" width="40" height="40">
            <use href="./images/sprite.svg#icon-button-vector1"></use>
          </svg>
        </button>
      </li>
      <li class="products-list__item products-list__item--green icon--green">
        <h3 class="products-list__title">milkshakes</h3>
        <p class="products-list__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <button
          type="button"
          class="products-btn products-btn--green"
          data-modal-open3
        >
          <svg class="products-btn__icon" width="40" height="40">
            <use href="./images/sprite.svg#icon-button-vector1"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
  <!----------------------------Backdrop-1-------------------------->
  <div class="products-backdrop products-backdrop--brown is-hidden" data-modal1>
    <!-----------------------Modal-window-1---------------------------->
    <div class="products-modal products-modal--pink">
      <button
        type="button"
        class="products-modal__btn-close products-modal__btn-close--pink"
        data-modal-close1
      >
        X
      </button>
      <div class="products-modal__wrap">
        <h2 class="products-modal__title">ice cream</h2>
        <p class="products-modal__text">
          Ice cream is a colloidal emulsion made with water, ice, milk fat, milk
          protein, sugar and air. Water and fat have the highest proportions by
          weight creating an emulsion that has dispersed phase as fat globules.
        </p>
      </div>
    </div>
  </div>
  <!----------------------------Backdrop-2-------------------------->
  <div class="products-backdrop products-backdrop--brown is-hidden" data-modal2>
    <!-----------------------Modal-window-2---------------------------->
    <div class="products-modal products-modal--brown">
      <button
        type="button"
        class="products-modal__btn-close products-modal__btn-close--brown"
        data-modal-close2
      >
        X
      </button>
      <div class="products-modal__wrap">
        <h2 class="products-modal__title">ice coffee</h2>
        <p class="products-modal__text">
          Iced coffee is a coffee beverage served cold. It may be prepared
          either by brewing coffee normally (i.e. carafe, French press, etc.)
          and then serving it over ice or in cold milk, or by brewing the coffee
          cold. Contain 100% Arabika.
        </p>
      </div>
    </div>
  </div>
  <!----------------------------Backdrop-3-------------------------->
  <div class="products-backdrop products-backdrop--green is-hidden" data-modal3>
    <!-----------------------Modal-window-3--------------------------->
    <div class="products-modal products-modal--green">
      <button
        type="button"
        class="products-modal__btn-close products-modal__btn-close--green"
        data-modal-close3
      >
        X
      </button>
      <div class="products-modal__wrap">
        <h2 class="products-modal__title">milkshakes</h2>
        <p class="products-modal__text">
          A milkshake (sometimes simply called a shake) is a sweet beverage made
          by blending milk, ice cream, and flavorings or sweeteners such as
          butterscotch, caramel sauce, chocolate syrup, fruit syrup, or whole
          fruit into a thick, sweet, cold mixture.
        </p>
      </div>
    </div>
  </div>
</section>
